<!DOCTYPE html>
<head>
    <style>
        a{
            font-size: 25px;
            font-style: italic;
        }
        h1{
            text-align: center;
        }

        table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border: 3px solid purple;
        }

        thead th:nth-child(1) {
        width: 20%;
        }

        thead th:nth-child(2) {
        width: 10%;
        }

        thead th:nth-child(3) {
        width: 35%;
        }

        thead th:nth-child(4) {
        width: 20%;
        }

        th, td {
        padding: 20px;
        }
    </style>
</head>
<p id="notice"><%= notice %></p>
<h1>LABOR SOCIAL</h1>
<table border CELLPADDING=10 CELLSPACING=0>
    <button><%=link_to 'Crear Labor Social', new_laborsocial_path %></button>
    <thead>
        <tr>
            <th>Nombres</th>
            <th>Categoria</th>
            <th>Perfil</th>
            <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <% @datos.each do |dato| %>
            <tr>
                <td><%= dato["nombres"] %></td>
                <td><%= dato["categoria"] %></td>
                <td><%= dato["perfil"] %></td>
                <td><%= link_to "Show", laborsocial_path(dato["id"]) %></td>
                <td><%= link_to "Delete", delete_path(dato["id"])%></td>
                <td><%= link_to "Update", edit_laborsocial_path(dato["id"]) %></td>
            </tr>
        <% end %>
    </tbody> 
</table>