<h1>Informacion completa de <%= @datos["nombres"] %></h1>
<head>
    <style>
        strong,a{
            font-size: 25px;
        }
        strong{
            padding-right: 10px;
        }
    </style>
</head>
<p>
    <strong>Nombres: </strong>
    <a><%= @datos["nombres"] %><a><br>

    <strong>Categoria: </strong>
    <%= @datos["categoria"] %><br>

    <strong>Fecha Inicial: </strong>
    <%= @datos["finicial"] %><br>

    <strong>Fecha Final: </strong>
    <%= @datos["ffinal"] %><br>

    <strong>Perfil: </strong>
    <%= @datos["perfil"] %><br>

    <strong>Descripcion: </strong>
    <%= @datos["descripcion"] %><br>

    <strong>Competencias: </strong>
    <%= @datos["competencias"] %><br>

    <strong>Oferta: </strong>
    <%= @datos["oferta"] %><br>
</p>

<%= link_to 'Back', laborsocial_index_path %> 